<h1>Leaderboard</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Found</th>
  </tr>
  </thead>

  <tbody>
  <% @leaders.keys.each do |l| %>
    <tr>
      <td><%= l %></td>
      <td>
        <%= @leaders[l] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>





