<style>
  .card {
    width: 100%;
  }

  /*// Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {

  }

  /*// Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {

  }

  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {

  }

  /*// Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {

  }

  /*// Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {

  }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="d-flex justify-content-center">
  <div class="card text-center" style="width: 40rem;">
    <img src="/assets/img/map-marker.png" class="card-img-top mt-3" alt="<%= @speaker.name %>">
    <div class="card-body">
      <h1 class="card-title"><%= @speaker.name %></h1>
      <h3 class="card-text"><%= @speaker.title %></h3>
      <h4 class="card-text"><%= @speaker.desc %></h4>
      <a href="#" class="btn btn-lg btn-primary">Go somewhere</a>
    </div>
  </div>
</div>


<!--<div class="card">-->
<!--  <div class="card-body text-center">-->

<!--    <img src="/assets/img/map-marker.png">-->

<!--    <h3>-->
<%#= @speaker.name %>
<!--    </h3>-->

<!--    <h5>-->

<!--    </h5>-->

<!--    <p>-->

<!--    </p>-->
<!--  </div>-->
<!--</div>-->
