<style>

  #header-nav {
    display: none;
  }
  .card {
    width: 100%;
  }

  /*// Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {

  }

  /*// Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {

  }

  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {

  }

  /*// Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {

  }

  /*// Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {

  }

</style>

<link rel="stylesheet" href="/assets/css/recipe_card.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="ft-recipe">
  <div class="ft-recipe__thumb">
    <img width="500px" height="500px" src="/assets/<%= @speaker.id %>.png" alt="Strawberry Waffle"/>
  </div>
  <div class="ft-recipe__content">
    <header class="content__header">
      <div class="row-wrapper">
        <h1 class="recipe-title text-center">You have found</h1>
        <h1 class="recipe-title text-center"><%= @speaker.name %>!!</h1>
      </div>
    </header>
    <p class="description text-center">
      <%= @speaker.desc %>
    </p>
  </div>
</div>

<div class="text-center" style="color: white; position: absolute; bottom: 0px; left: 0px">
 <h1><strong> TEDxNITKSurathkal | 17xJan </strong></h1>
<h2 style="padding: 10px">Share a screenshot on Instagram and tag @tedxnitksurathkal to win prizes</h2>
<div style="background-color: #272829; height: 120px; margin-top: 80px;box-shadow:0px -7px 21px 22px rgba(0,0,0,0.44); padding: 20px">
  <h1 style="float: left"><i aria-hidden="true" class="fa fa-lg fa-arrow-left" style="margin-right: 20px"> </i>Find More</h1>
  <h1 style="float: right">See Your <i aria-hidden="true" class="fa fa-lg fa-times" style="color: red"></i>'s</h1>
</div>
</div>
